#mapid2 {
  height: 568px;
  margin-left: 300px;
  background-color: #85c1e9;
  text-align: right;
}

#selec_date_in {
  position: absolute;
  bottom: 350px;
  margin-left: 15px;
}

#button1 {
  position: absolute;

  margin-left: 180px;
  margin-top: 0px;
  bottom: -50px;
  border: 0px;
}

#button2 {
  position: absolute;

  margin-left: 100px;
  margin-top: 0px;
  bottom: -50px;
  border: 0px;
}

#img {
  position: absolute;
  top: 345px;
  height: 285px;
  width: 300px;
  margin-left: 1px;
  margin-right: 60px;
}
