#mapid {
  height: 561px;
}

#img {
  position: relative;
  bottom: 300px;
  height: 285px;
  width: 300px;
  margin-left: 1px;
  margin-right: 60px;
}

#logo {
  height: 60px;
  width: 60px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
